<div class="protect">
  <%= cl_image_tag(artwork.picture, sign_url: true, alt: artwork.name, border: { width: 10, color: '#ffffff' }) unless artwork.picture.blank?%><br>
  <p>
    <%#= about artwork %>
  </p>
</div>
