<% @artworks.each do |artwork| %>
  <li>
    <a href="<%= artwork.picture.url %>" data-size="960x640" data-title="<%= artwork.name %>">
      <%= cl_image_tag(artwork.picture, sign_url: true, alt: artwork.name) %><br>
    </a>
  </li>
<% end %>