<%= provide :title, "Архів новин"%>
<div class="row">
  <div class="column small-12 middle-10 large-8 middle-offset-1 large-offset-2">
    <h1 class="text-center">Архів новин</h1>
    <%= render @posts %>
  </div>
</div>