<%= provide :title, Unicode::capitalize(@category.name) %>
<p><%= @category.name %></p>
<div class="variable-width">
  <% @artworks.map do |a|%>
    <div>
      <p><%= cl_image_tag(a.picture, class: "protectMe", border: { width: 5, color: '#ffffff' }, height: 200, crop: :fit)%></p>
      <p><%#= about a %></p>
    </div>
  <% end %>
</div>